.App {
  min-height: 100vh;
  padding: 0rem 0.5rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
select {
  cursor: pointer;
}

.greeting {
  font-size: 1rem;
  margin-bottom: 10px;
}
