.start-stop-button--button {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  color: white;
  border-radius: 9px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px 5px;
  margin: 0px 0px;
  transition: all 0.2s;
}

.start-stop-button--button:hover {
  transform: scale(1.05);
}

.start-stop-button--button:active {
  /* color: rgba(76, 76, 209, 0.541); */
  background-color: rgba(76, 76, 209, 0.541);
}
