.answer-form {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 90%;
}

.answer-form--input {
  font-size: 1rem;
  margin-right: 10px;
  width: 70%;
  border: 2px solid black;
  background-color: rgba(233, 217, 217, 0.737);
  border-radius: 5px;
}

.answer-form--button {
  border-radius: 5px;
  font-size: 20px;
  width: 30%;
  background-color: rgb(20, 0, 80);
  /* background-color: rgba(76, 76, 209, 0.541); */
  border: 2px solid black;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: all 0.2s;
}

.answer-form--button:hover {
  background-color: rgb(70, 10, 170);
}
