.card {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 10px;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: scale(1);
}

.card.active {
  border: 6px solid orange;
}
