.quiz-results {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
}

.quiz-results--h1 {
  font-size: 2rem;
  margin-right: 5px;
}

.quiz-results--p {
  font-size: 1.5rem;
  text-decoration: none;
}
