.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(100, 100, 200);
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
}

.nav-info {
  justify-content: flex-start;
}

.nav-auth {
  justify-content: flex-end;
}

.nav__item {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  color: white;
}

.nav__item:hover {
  color: rgb(70, 10, 170);
}
