.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

.register-section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(100, 100, 200);
}

.register-section__title {
  display: flex;
  justify-content: center;
}

.register-section__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.form-register--input,
.register-section__form__button,
textarea {
  width: 100%;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
.register-section__form__button {
  margin-top: 1rem;
}

.register-section__form__button {
  color: white;
  background-color: rgb(20, 0, 80);
}

.register-section__form__button:hover {
  background-color: rgb(70, 10, 170);
}

.register-section__form__button:disabled {
  background-color: rgba(80, 80, 190, 0.3);

  color: rgba(41, 41, 151, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
}

.register-section__link {
  color: white;
}

.register-section__link:hover {
  color: rgb(70, 10, 170);
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
