.quiz-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rest-selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selector {
  margin: 0px 10px;
  font-size: 0.8rem;
}

.selector-label {
  margin-top: 0px;
}

.selector-field {
  margin-left: 5px;
  font-size: 20px;

  border-radius: 5px;
  transition: all 0.2s;
}

.selector-field .selector-option {
  background-color: rgba(300, 217, 217, 0.737);
}

.selector-field:hover {
  transform: scale(1.05);
}
